# Data Types and Structures

1. What are data structures, and why are they important?
-> Data structures are ways to organize and store data for efficient access and modification. Examples include arrays, linked lists, stacks, queues, trees, graphs, and hash tables.

Importance:

Improve efficiency of algorithms.

Optimize resource usage (time, memory).

Enable scalable solutions.

Essential for real-world applications (databases, operating systems).

2.  Explain the difference between mutable and immutable data types with examples?
->  Mutable data types can be modified after they are created.

Immutable data types cannot be modified once created.

Examples:

Mutable:

Lists: my_list = [1, 2, 3] → my_list[0] = 4 changes the list.

Immutable:

Tuples: my_tuple = (1, 2, 3) → Cannot change my_tuple[0] directly.

In summary, mutable types allow changes, while immutable types do not.

3. What are the main differences between lists and tuples in Python?
->
Lists are mutable (can be changed), while tuples are immutable (cannot be changed).


Key Differences:

a)Syntax:

Lists: []


Tuples: ()

b)Mutability:

Lists: Can be modified.

Tuples: Cannot be modified.

c)Performance:

Lists: Slower due to mutability.

Tuples: Faster due to immutability.

4.Describe how dictionaries store data.
-> Dictionaries in Python store data as key-value pairs. Each key is unique, and each key maps to a value.

Example:

my_dict = {"name": "John", "age": 30}

Keys: "name", "age"

Values: "John", 30

Dictionaries provide fast lookups, insertions, and deletions based on keys.

5. Why might you use a set instead of a list in Python.
-> You would use a set instead of a list when:

Uniqueness: Sets automatically remove duplicates, ensuring all elements are unique.

Efficiency: Sets offer faster membership tests (checking if an item exists).

Mathematical Operations: Sets support operations like union, intersection, and difference.

example

my_set = {1, 2, 3}

6. What is a string in Python, and how is it different from a list
->A string in Python is a sequence of characters enclosed in quotes (" " or ' ').


Differences between string and list:

Mutability:-

String: Immutable (cannot be changed after creation).

List: Mutable (can be modified).

Content:-

String: Stores only characters.

List: Stores various data types (integers, strings, objects, etc.).

7.  How do tuples ensure data integrity in Python.
-> Tuples ensure data integrity by being immutable. Once created, the elements of a tuple cannot be changed, added, or removed. This guarantees that the data remains unchanged throughout the program, preventing accidental modifications.

example:

my_tuple = (1, 2, 3)

8. What is a hash table, and how does it relate to dictionaries in Python
-> A hash table is a data structure that stores data in key-value pairs, using a hash function to map keys to specific locations in memory. It allows fast lookups, insertions, and deletions.

In Python, a dictionary is implemented using a hash table. Each dictionary key is hashed, and the value is stored at the corresponding location, enabling efficient access.

 eg:

 my_dict = {"name": "John", "age": 30}

 9. Can lists contain different data types in Python.
 ->Yes, lists in Python can contain different data types. A list can store integers, strings, floats, and even other lists or objects.

 eg:

 my_list = [1, "hello", 3.14, [2, 3]]

10. Explain why strings are immutable in Python.
-> Strings are immutable in Python to ensure efficiency and data integrity. When a string is created, its value cannot be changed, which prevents accidental modifications and allows Python to optimize memory usage by reusing string objects.

Any operation that appears to modify a string actually creates a new string instead of modifying the original one.

11. What advantages do dictionaries offer over lists for certain tasks.
-> Dictionaries offer several advantages over lists for certain tasks:

Faster Lookups: Dictionaries provide O

(a)time complexity for key-based lookups, while lists require O(n) for searching.

(b)Unique Keys: Keys are unique, preventing duplicates and ensuring data integrity.

(c)Key-Value Mapping: Useful for tasks where data is naturally paired, like storing user information with keys like "name" or "age".

12. Describe a scenario where using a tuple would be preferable over a list
->Using a tuple is preferable when you need data to remain constant and immutable.

For example:

Scenario:Storing coordinates of a point:

coordinates = (10, 20)

Here, immutability ensures the values cannot be accidentally modified, preserving data integrity. This is useful in scenarios like database keys or function returns where data should not change.


13.How do sets handle duplicate values in Python.
-> In Python, sets automatically remove duplicate values. When elements are added to a set, any duplicates are ignored, ensuring all elements are unique.

eg:

my_set = {1, 2, 2, 3}


print(my_set)  

Output: {1, 2, 3}

This makes sets useful for tasks requiring unique items.

14. How does the “in” keyword work differently for lists and dictionaries
-> The in keyword works differently for lists and dictionaries:

Lists: Checks if a value exists in the list.

my_list = [1, 2, 3]


print(2 in my_list)  # Output: True

Dictionaries: Checks if a key exists in the dictionary (not the value).


my_dict = {"name": "Alice", "age": 25}


print("name" in my_dict)  # Output: True

15.  Can you modify the elements of a tuple? Explain why or why not.
-> No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its contents cannot be changed. This immutability ensures data integrity and makes tuples suitable for fixed data.

my_tuple = (1, 2, 3)


my_tuple[0] = 4  # Raises TypeError: 'tuple' object does not support item assignment

16.  What is a nested dictionary, and give an example of its use case.
-> A nested dictionary is a dictionary where values are themselves dictionaries. It allows hierarchical data storage.

Example Use Case:


Storing student details by ID:


students = {


    101: {"name": "Alice", "age": 20},


    102: {"name": "Bob", "age": 22}
}


print(students[101]["name"])  # Output: Alice


This is useful for organizing complex data like databases.

17. Describe the time complexity of accessing elements in a dictionary.

-> Accessing elements in a dictionary has an average time complexity of O(1), thanks to the underlying hash table. However, in the worst case (e.g., hash collisions), it can degrade to O(n).

example:

my_dict = {"a": 1, "b": 2}

print(my_dict["a"])  # O(1) operation

18.  In what situations are lists preferred over dictionaries.
-> Lists are preferred over dictionaries when:

a)Ordered Data: You need to maintain the order of elements.

my_list = [10, 20, 30]


b)Sequential Access: Iterating through items without specific keys is required.

for item in my_list:
    
    print(item)

c) Simpler Structure: Data doesn’t need key-value pairing or unique identifiers.

Use lists for simpler, ordered data collections where key-based lookups aren't needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.
->Dictionaries were historically considered unordered because they did not guarantee the order of elements. However, starting from Python 3.7, dictionaries maintain insertion order.

Effect on Data Retrieval:


a)Key-Based Access: Retrieval is always based on keys, not order, so the lack of inherent order doesn’t affect lookups.

my_dict = {"a": 1, "b": 2}

print(my_dict["a"])  # Efficient key-based access

b)Iterating: While they now maintain order, order is secondary to key-value relationships in usage.

In summary, dictionaries are designed for fast access, not sequence management.

 20. Explain the difference between a list and a dictionary in terms of data retrieval.
 -. Data Retrieval Differences:

List: Access is based on index (position).



Time Complexity: O(1) for direct indexing.

Example:


my_list = [10, 20, 30]

print(my_list[1])  # Output: 20

Dictionary: Access is based on keys.

Time Complexity: O(1) on average for key-based lookups.

Example:

my_dict = {"a": 10, "b": 20}

print(my_dict["b"])  # Output: 20

Summary:
Lists are for ordered, positional access.
Dictionaries provide efficient, key-based retrieval.

**Praticals**

1. Write a code to create a string with your name and print it

In [ ]:
name = "Kuldeep"
print(name)

Kuldeep

2. Write a code to find the length of the string "Hello World"

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

3.  Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4.  Write a code to convert the string "hello" to uppercase

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_2 = my_tuple.count(2)
print(count_2)

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_cat = my_tuple.index('cat')
print(index_cat)

15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

17. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_2 = my_tuple.count(2)
print(count_2)

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_cat = my_tuple.index('cat')
print(index_cat)

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

24. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)